* {
  box-sizing: border-box;
}

:root {
  --main-color: #c8d6e5;
  --button-color: #33d9b2;
  --black: #1e272e;
  --white: white;
  --green: #218c74;
  --blue: #5f27cd;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--main-color);
  font-family: sans-serif;
  color: var(--black);
}

header {
  background-color: var(--green);
  /* padding-bottom: 10%;
  margin-right: 0%;
  margin-left: 0%; */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: var(--white);
}

button {
  background-color: var(--button-color);
  border: 0;
  padding: 1%;
  color: var(--black);
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--green);
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid var(--black);
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--blue);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--green);
}

.delete-post-btn {
  background-color: var(--black);
  color: var(--white);
}

.delete-post-btn:hover {
  background-color: var(--blue);
  color: var(--white);
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: var(--blue);
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: var(--button-color);
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: var(--button-color);
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: var(--main-color);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid var(--green);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
